/* General Blueprint Style */

@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/bpicons/bpicons.eot');
	src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../fonts/bpicons/bpicons.woff') format('woff'), url('../fonts/bpicons/bpicons.ttf') format('truetype'), url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
}/* Made with http://icomoon.io/ */


/* Resets */

*,
*:after,
*:before {
	box-sizing: border-box;
}


/* Helper classes */

.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}


/* Main styles */

.container {
	overflow-y: auto;
	height: 100vh;
}


/* Blueprint header */

.dummy-logo {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 201px;
	padding: 0px;
	text-align: center;
	color: #FFFFFF;
	background: #159f9d;
}

.dummy-icon {
	font-size: 4em;
}

.dummy-heading {
	font-size: 0.75em;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.content {
	position: relative;
	min-height: 300px;
	margin: 0 0 0 300px;		
}



@media screen and (max-width: 40em) {
	.bp-header {
		padding-top: 0px;
	}
	.bp-header__main,
	.bp-nav {
		width: 100%;
		text-align: center;
	}
	.dummy-logo {
		display: none;
	}
	.content {
		margin: 0;
	}	
}
